.Card {
    height: 184px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 8px;
    padding: 20px;
    margin-bottom: 15px;
    
    @media screen and (max-width: 420px) {
      font-size: 10px;
    }
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header:first-child {
    color: #2196f3;
    font-weight: 600;
    font-size: 24px;
  }
  
  .info {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
  }
  
  .content > p:first-child {
    color: #a0b0b9;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .content > p:last-child {
    font-weight: 600;
  }